.row ul.nav-tabs li a {
    background-color: var(--TransparentBlue);
    border-color: var(--TransparentBlue);
    color: white;
    border-radius: 10px;
}

.row ul.nav-tabs li:hover > a {
    background-color: var(--TransparentBlue) !important;
}

.latestanime-title a {
    color: white !important;
}

.latestanime-subtitle {
    color: var(--DarkWhite) !important;
}

.animedao-color {
    color: var(--White) !important;
    background-color: var(--Blue) !important;

    border-radius: 5px;
}

a.latest-parent {
    color: var(--Blue) !important;
}

.well {
    background-color: var(--TransparentGrey) !important;
    border: none !important;

    transition: 0.5s;
}

.well:hover {
    background: var(--TransparentBlue) !important;
}

:root {
    --White     : #fff;
    --DarkWhite : rgb(184, 182, 182);
    --Blue: #7289DA;

    --TransparentBlack : rgba(0, 0, 0, 0.473);

    --TransparentWhite : rgba(255, 255, 255, 0.548);
    --TransparentDarkWhite : rgba(184, 182, 182, 0.664);
    --TransparentBlue : #7289dabe;


    --Grey: #2C2F33;
    --TransparentGrey: #2c2f338a;
}